* {
  font-family: sans-serif;
}

.main-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  border: 1px solid #e6e6e6;
  margin-top: 100px;
}

.login-header {
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.login-title {
  font-family: sans-serif;
  font-size: 40px;
}

.login-input-wrap {
  width: 350px;
  height: 48px;
  border: solid 1px black;
  margin: 2px 0;
}

.login-input-wrap input {
  border: none;
  width: 320px;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
  height: 30px;
}

.login-btn {
  width: 350px;
  margin-top: 10px;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  background-color: #8c8c8c;
}

.register-btn {
  width: 350px;
  margin-top: 2px;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  background-color: #8c8c8c;
}
