<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="/create" method="POST">
                <h1>회원정보 관리</h1>
                이름 : <input type="text" placeholder="name" name="name"/>
                전화번호 : <input type="text" placeholder="phone" name="phone"/>
                <button class="btn-create">등록</button>
            </form>
            
        </div>
        <div>
            <form action="/delete" method="POST">
                <button class="btn-delete">삭제</button>
            </form>
        </div>
        <div>
            <h2>회원 목록 조회</h2>
            <% for(var i = 0; i < clients.length; i++){ %> 
                <%= clients[i].name %>
                <%= clients[i].phone %>
                <form action="/delete/<%= clients[i]._id%>" method="get">
                    <button type="submit">delete</button>
                </form>
                <br>
            <% } %>
        </div>

    </div>
    <script src="http://127.0.0.1:3000/public/index.js"></script>
</body>
</html>