.js-new-column-container {
  width: 331px;
  height: 715px;
  color: rgb(36, 41, 46);
}

.js-new-column-button {
  width: 331px;
  height: 103px;
}

.js-new-column-button button {
  width: 315px;
  height: 103px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: dashed;
  border-color: rgb(149, 157, 165);
  border-radius: 6px;
  border-width: 1px;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  text-decoration-color: rgb(88, 96, 105);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.js-detail-main-container {
  display: flex;
  margin-top: 50px;
}

.js-detail-column {
  display: flex;
}

.detail-column {
  height: 715px;
  color: rgb(36, 41, 46);
  background-color: rgb(246, 248, 250);
  border-width: 1px;
  border-radius: 6px;
  margin-right: 16px;
  max-width: 355px;
  min-width: 355px;
  display: flex;
  flex-direction: column;
}

.column-header h2 {
  width: 60%;
  text-align: center;
}

.js-column-button {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-clip: padding-box;
  padding: 8px 0;
  background-color: rgb(255, 255, 255);
  width: 180px;
  position: absolute;
  color: rgb(36, 41, 46);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
  border-radius: 6px;
  min-width: 180px;
}

.dropdown-menu button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(36, 41, 46);
  align-items: flex-start;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  width: 178px;
  text-size-adjust: 100%;
  border-width: 0px;
  cursor: pointer;
  height: 20px;
  font-size: 15px;
  padding: 4px 8px 4px 16px;
  text-align: left;
}
.task {
  display: flex;
  width: 90%;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  margin: 10px;
  border-color: black;
  background-color: rgb(255, 255, 255);
}

.task-title {
  width: 90%;
  padding: 0px 8px 4px 32px;
}
.js-task-delete-button {
  padding-top: 15px;
}
.task-delete-button {
  cursor: pointer;
}

.task-name {
  font-size: 15px;
  font-weight: 600;
}

.js-new-task {
  display: flex;
  justify-content: center;
}

.task-name-input {
  width: 250px;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

.new-task-button {
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(36, 41, 46);
  font-size: 16px;
  line-height: 30px;
  width: 60px;
  height: 30px;
  border-width: 1px;
  outline: 0;
  border-radius: 6px;
}
