.js-new-column-container {
  width: 331px;
  height: 715px;
  color: rgb(36, 41, 46);
}

.js-new-column-button {
  width: 331px;
  height: 103px;
}

.new-column {
  width: 315px;
  height: 103px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: dashed;
  border-color: rgb(149, 157, 165);
  border-radius: 6px;
  border-width: 1px;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  text-decoration-color: rgb(88, 96, 105);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}
.js-detail-main-container {
  display: flex;
}

.js-detail-column {
  display: flex;
}

.detail-column {
  height: 715px;
  color: rgb(36, 41, 46);
  background-color: rgb(246, 248, 250);
  border-width: 1px;
  border-radius: 6px;
  margin-right: 16px;
  max-width: 355px;
  min-width: 355px;
  display: flex;
  flex-direction: column;
}
